---
const { cardImageUrl, cardTitle, cardDesc, cardLink, cardImageAlt } =
  Astro.props;
---

<figure
  class="w-4/12 rounded-tl-[1.87rem] rounded-b-[1.87rem] overflow-hidden flex flex-col bg-[#CAECFF]"
>
  <img src={cardImageUrl} alt={cardImageAlt} class="h-[11rem] object-cover" />
  <figcaption
    class="p-4 flex flex-1 flex-col bg-esl-c-5 text-esl-2 rounded-b-[1.87rem] px-[1.5rem] pt-[1.5rem]"
  >
    <div class="mb-auto">
      <p class="text-esl-4 text-esl-c-4">{cardTitle ? cardTitle : ""}</p>
      <p class="mb-10">{cardDesc ? cardDesc : ""}</p>
    </div>

    <a
      href={cardLink}
      class="mx-auto block rounded-full w-fit bg-white py-2 px-4 rounded-full bg-white text-esl-2 text-esl-c-4 hover:bg-esl-c-4 hover:text-white focus-visible:outline-none"
      >learn more</a
    >
  </figcaption>
</figure>
