---
const { resourceParameter, config } = Astro.props;
// resourceParameter = {
//   link:string
//  image:string,
//  imageAlt:string,
//  text:string,
// }
// config = {
//   lite:boolean,
//   placeholder:string,
// }
---

<a
  href={resourceParameter.link ? resourceParameter.link : "#"}
  class="hover:underline"
>
  <figure class="">
    <div class="mb-5 h-[17.25rem] overflow-hidden rounded-b-[1.5rem]">
      <img
        class={`w-full h-full object-cover min-w-[30rem] `+(config.lite?config.placeholder:"")}
        src={config.lite?"":resourceParameter.image}
        alt={resourceParameter.imageAlt}
      />
    </div>
    <figcaption class="text-center text-esl-3">
      {resourceParameter.text}
    </figcaption>
  </figure>
</a>
