---
const { resourceParameter } = Astro.props;
import { Img } from "astro-imagetools/components";
// resourceParameter = {
//   link:string
//  image:string,
//  imageAlt:string,
//  text:string,
// }
// config = {
//   lite:boolean,
//   placeholder:string,
// }
---

<div class="hover:underline">
  <figure class="">
    <div class="mb-5 h-[17.25rem] overflow-hidden rounded-b-[1.5rem]">
      <Img
        src={resourceParameter.image}
        alt={resourceParameter.imageAlt}
        objectFit="cover"
        layout="fullWidth"
        aspect="1"
        w="483"
      />
    </div>
    <figcaption class="text-center text-esl-3">
      {resourceParameter.text}
    </figcaption>
  </figure>
</div>
