---
import { changeLanguage } from "i18next";
import MainLayoutCh from "../../layouts/MainLayoutCh.astro";
import { liteImageConfig } from "../../scripts/liteImageConfig";

changeLanguage("zh");
---

<MainLayoutCh currentPage="Teachers" config={liteImageConfig}>
  <!--main container -->
  <div class="">
    <!--left side -->
    <div>
      <!--teacher details section -->
      <div>
        <!--nameplate section -->
        <div class="">
          <!--teacher image -->
          <div class=""><img src="" /></div>
          <!--name,verification and occupation -->
          <div>
            <div><span>Teacher Name</span><span>Verification Badge</span></div>
            <div>Occupation</div>
          </div>
          <!--booking section -->
          <div>
            <!--rate section -->
            <div><span>30元</span>/40分钟</div>
            <!--book session button -->
            <button class="bg-[#FF4438] text-white rounded-full p-5"></button>
          </div>
        </div>
        <!--stats -->
        <div class="bg-white">
          <!--rating -->
          <div></div>
          <!--students -->
          <div>2</div>
          <!--lessons -->
          <div>10</div>
          <!--attendance -->
          <div>100%</div>
          <!--response -->
          <div>100%</div>
        </div>
        <!--tabified details -->
        <div>
          <!--tab collection -->
          <div>
            <!--tab item -->
            <button>About Me</button>
            <button>Me as a Teacher</button>
            <button>My</button>
          </div>
          <!--tab contents -->
          <div>
            <!--tab 1 content -->
            <div>tab 1 content</div>
            <!--tab 2 content -->
            <div>tab 2 content</div>
            <!--tab 3 content -->
            <div>tab 3 content</div>
          </div>
        </div>
      </div>

      <!--lessons enumeration section -->
      <div>
        <div>English Lessons</div>
        <div class="bg-white p-5">
          <!--lesson item -->
          <div class="bg-white">
            <div>Lesson 1</div>
            <button>interact</button>
          </div>
        </div>
      </div>
    </div>
    <!--right side -->
    <div>
      <!--insert youtube video here -->
    </div>
  </div>
</MainLayoutCh>
