---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import SeoLayout from "@layouts/SeoLayout.astro";

type Props = {
  pageTitle?: string;
  pageDescription?: string;
  pageAuthor?: string;
  pageKeywords?: string;
  ogTitle?: string;
  ogType?: string;
  ogImage?: string;
  ogDescription?: string;
  twitterCardType?: string;
  twitterImage?: string;
  twitterDescription?: string;
  twitterTitle?: string;
};

const props = Astro.props as Props;
---

<SeoLayout {...props}>
  <header data-body-header class="sticky top-0 z-[5] lg:relative">
    <Header />
    <slot name="header" />
  </header>
  <main>
    <slot />
  </main>
  <footer>
    <Footer />
    <slot name="footer" />
  </footer>
</SeoLayout>
