---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout currentPage = "Home">

	<!--Section one-->
	<div class="w-full mt-4">
		<div class="rounded-tl-[60px] rounded-tr-none p-10 bg-esl-quarternary" >
			<div class="text-esl-4">
				<span class=" text-esl-tertiary">Explore the world <br/> with </span>
				<span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600">English</span></h1>
			</div>
			
			<div class="mt-6 text-esl-2 text-white w-5/12">
				Welcome to our expert English language teaching website, where we are dedicated to helping you achieve your language learning goals. Whether you're looking to improve your English skills for work, travel, or personal development, our team of experienced and qualified teachers is here to help you every step of the way.
			</div>
			<!--place image here -->
		</div>
		<div class="rounded-b-[60px] bg-white p-10">
			<!--need to design a dashed line -->
			<p class="text-esl-4 text-esl-quarternary">Welcome to ABC English</p>
			<p></p>
		</div>
	</div>

		<!--Section two -->

		<!--Section three -->
		<!--Section four -->

</MainLayout>