---
import MainLayout from "@layouts/MainLayout.astro";
import ProfileValidator from "@components/profiles/ProfileValidator.svelte";
---

<MainLayout>
  <section class="container">
    <header class="sr-only">
      <h1>Profile Page</h1>
    </header>

    <ProfileValidator client:load />
  </section>
</MainLayout>

<script>
  const studentProfile = document.querySelector("[data-profile-student]");
  const teacherProfile = document.querySelector("[data-profile-teacher]");

  if (studentProfile) {
    studentProfile.classList.remove("hidden");
  }

  if (teacherProfile) {
    teacherProfile.classList.remove("hidden");
  }
</script>
