---
import MainLayout from "@layouts/MainLayout.astro";
import StudentProfile from "@components/profiles/StudentProfile.astro";
import TeacherProfile from "@components/profiles/TeacherProfile.astro";
import TeacherScheduleEditor from "@components/profiles/TeacherScheduleEditor.svelte";
---

<MainLayout>
  <section class="container">
    <header class="sr-only">
      <h1>Profile Page</h1>
    </header>

    <section class="bg-white rounded-xl p-4">
      <header>
        <h2 class="text-2xl">Profile</h2>
      </header>

      <div data-profile-student>
        <StudentProfile />
      </div>
      <div data-profile-teacher>
        <TeacherProfile />
      </div>
    </section>

    <section class="bg-white rounded-xl p-4 mt-4">
      <TeacherScheduleEditor client:load />
    </section>

    <!-- Modal -->
  </section>

  <script>
    const studentProfile = document.querySelector("[data-profile-student]");
    const teacherProfile = document.querySelector("[data-profile-teacher]");

    if (studentProfile) {
      studentProfile.classList.remove("hidden");
    }

    if (teacherProfile) {
      teacherProfile.classList.remove("hidden");
    }
  </script>
</MainLayout>
