---
import teachersJson from "@data/teachers.json";
import MainLayout from "@layouts/MainLayout.astro";
import TeacherListItem from "@components/landing-page/TeacherListItem.astro";

const teachers = teachersJson.contents;
---

<MainLayout>
  <section class="py-4">
    <div class="container">
      <header>
        <h1 class="text-4xl text-center text-white font-bold">Our Teachers</h1>
      </header>

      <section class="mt-4">
        <ul class="flex flex-wrap">
          {
            teachers.map((teacher) => {
              return (
                <li class="w-full p-2 md:w-1/2">
                  <TeacherListItem teacher={teacher} />
                </li>
              );
            })
          }
        </ul>
      </section>
    </div>
  </section>
</MainLayout>

<script>
  const tabMenus = document.querySelectorAll(
    ".tab-menu>button"
  ) as NodeListOf<HTMLButtonElement>;
  const tabContents = document.querySelectorAll(
    ".tab-content"
  ) as NodeListOf<Element>;
  let tabIndex = 0;
  tabMenus.forEach((tabMenu, index) => {
    tabMenu.addEventListener("click", () => {
      showTabContent(index);
    });
  });

  function showTabContent(index: number) {
    //get current and toggle hide to on
    tabContents[tabIndex].classList.toggle("md:hidden");
    tabContents[tabIndex].classList.toggle("md:block");
    tabMenus[tabIndex].classList.toggle("show");
    //get change current to index
    tabIndex = index;

    //get current and toggle display
    tabContents[tabIndex].classList.toggle("md:hidden");
    tabContents[tabIndex].classList.toggle("md:block");
    tabMenus[tabIndex].classList.toggle("show");
  }
</script>
