---
import { Icon } from "astro-icon";
import footerJson from "@data/footer.json";
const { config } = Astro.props;
---

<div
  class="bg-esl-c-2 pt-[5rem] pb-[2.5rem] text-white container mx-auto sm:rounded-t-[1.75rem] lg:rounded-t-[3.75rem] lg:mt-10 lg:w-10/12"
>
  <!--section1 - Take the first step... -->
  <div class="w-fit mx-auto px-5 lg:px-0">
    <figure class="flex flex-1 space-x-5">
      <svg
        class="fill-white h-[100px] w-[100px]"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        ><path
          d="M9 14q0-3.75 2.625-6.375T18 5v2q-2.925 0-4.963 2.038T11 14H9Zm4 0q0-2.075 1.463-3.538T18 9v2q-1.25 0-2.125.875T15 14h-2ZM5 6q-.825 0-1.413-.588T3 4q0-.825.588-1.413T5 2q.825 0 1.413.588T7 4q0 .825-.588 1.413T5 6Zm-3 5V8.5q0-.625.438-1.063T3.5 7h3q1.125 0 1.938-.713T9.45 4.5h2q-.15 1.5-1.1 2.65T8 8.75V11H2Zm17 6q-.825 0-1.413-.588T17 15q0-.825.588-1.413T19 13q.825 0 1.413.588T21 15q0 .825-.588 1.413T19 17Zm-3 5v-2.25q-1.4-.45-2.35-1.6t-1.1-2.65h2q.2 1.075 1.012 1.787T17.5 18h3q.625 0 1.063.438T22 19.5V22h-6Z"
        ></path></svg
      >
      <figcaption class="flex items-center">
        <p class="text-white text-esl-4 text-center">
          Take the first step in English fluency contact us now!
        </p>
      </figcaption>
    </figure>
  </div>

  <!--section2 - QR code section-->
  <div
    class="w-fit mx-auto flex flex-1 flex-wrap justify-center mt-6 lg:space-x-[3rem]"
  >
    {
      [footerJson.qr[0]].map((qrSet: any) => (
        <div class=" flex flex-col px-[3rem] py-[1rem] lg:px-0 lg:py-0">
          <div class="text-center text-esl-4 bold">微信扫码入群</div>
          <img
            class={
              "h-[10rem] w-[10rem] " + (config.lite ? config.placeholder : "")
            }
            src={config.lite ? "" : `/images/${qrSet.qrCode}`}
          />
        </div>
      ))
    }
  </div>
</div>
