---
import headerJson from "@data/header.json";
import { Icon } from "astro-icon";
import i18next, { t, changeLanguage, setDefaultNamespace } from "i18next";
const { currentPage, lang } = Astro.props;

let style1 = `inline-block text-white  m-4 border-b-2 pb-2 text-esl-2 cursor-pointer`;
let style2 =
  "inline-block  py-2 px-4 mt-2 rounded-full bg-white text-esl-2 text-esl-c-4 hover:bg-esl-c-2 hover:text-white";

let mobileStyle1 = `max-lg:block max-lg:p-[1rem] max-lg:m-0 max-lg:border-b-0  text-esl-c-2`;

changeLanguage(lang);
---

<nav class="lg:w-10/12 lg:mx-auto lg:mt-10 items-center">
  <!--mobile -->
  <div class="relative lg:hidden m-nav z-10">
    <div class="block">
      <button class="menu-toggle w-fit block">
        <div class="p-[1rem] burger w-fit text-white block">
          <Icon name="charm:menu-hamburger" class="h-[1.5rem] w-[1.5rem]" />
        </div>
        <div class="p-[1rem] m-close w-full text-esl-c-2 hidden">
          <Icon name="ic:baseline-close" class="h-[1.5rem] w-[1.5rem]" />
        </div>
      </button>
    </div>

    <div
      class="burger-items absolute max-h-0 w-full z-[1] overflow-hidden bg-white transition-[max-height] duration-500 hidden"
    >
      <div class="fit">
        {
          headerJson.links.map((linkSet) => (
            <a
              class={
                mobileStyle1 +
                (linkSet[0] === currentPage
                  ? " border-b-esl-c-3 "
                  : "hover:border-b-esl-c-3 ") +
                (linkSet[0] === "Home" ? "ml-0 " : "")
              }
              href={linkSet[1]}
            >
              {t("menu:" + linkSet[0])}
            </a>
          ))
        }
      </div>
      <div class="fit block">
        <a class={style2} href="#contact">联系我们</a>
      </div>
    </div>
  </div>

  <!--desktop -->
  <div class="container mx-auto">
    <div class="hidden justify-between lg:flex">
      <div class="fit">
        {
          headerJson.links.map((linkSet) => (
            <a
              class={
                (linkSet[0] === currentPage
                  ? "border-b-esl-c-3 hover:border-b-esl-c-2 "
                  : "border-b-transparent hover:border-b-esl-c-3 ") +
                (linkSet[0] === "Home" ? "ml-0 " : "") +
                style1
              }
              href={`/${linkSet[1]}`}
            >
              {t("menu:" + linkSet[0])}
            </a>
          ))
        }
      </div>
      <div class="fit inline-block lg:block">
        <a class={style2} href="#contact">联系我们</a>
      </div>
    </div>
  </div>
</nav>
<script>
  let toggle: HTMLButtonElement = document.querySelector(".menu-toggle")!;
  toggle.addEventListener("click", () => {
    document.querySelector(".m-nav")!.classList.toggle("open");
  });
</script>
<style>
  .m-nav.open {
    background-color: white;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
      drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  }
  .m-nav.open .burger {
    display: none;
  }
  .m-nav.open .m-close {
    display: block;
  }
  .m-nav.open .burger-items {
    max-height: 100vh;
    display: block;
  }
</style>
