---
import headerJson from "@data/header.json";
import { Icon } from "astro-icon";
import { Picture } from "astro-imagetools/components";
import Navigation from "./Navigation.svelte";
const { currentPage } = Astro.props;

let style1 = `inline-block text-white  m-4 border-b-2 pb-2 text-esl-2 cursor-pointer`;
let style2 =
  "inline-block  py-2 px-4 mt-2 rounded-full bg-white text-esl-2 text-esl-c-4 hover:bg-esl-c-2 hover:text-white";

let mobileStyle1 = `max-lg:block max-lg:p-[1rem] max-lg:m-0 max-lg:border-b-0  text-esl-c-2`;
---

<Navigation client:load links={headerJson.links} currentPage={currentPage}>
  <span slot="hamburger">
    <Icon name="charm:menu-hamburger" class="h-[1.5rem] w-[1.5rem]" />
  </span>
  <span slot="close">
    <Icon name="ic:baseline-close" class="h-[1.5rem] w-[1.5rem]" />
  </span>
  <div slot="mobileCompanyLogo" class="w-fit mx-auto">
    <a href="/" class="p-1 flex h-full brightness-0 invert items-center">
      <Picture
        h={50}
        alt="logo"
        src="/images/logo/logo-horizontal.png"
        layout="fullWidth"
        brightness={0}
      />
    </a>
  </div>
  <div slot="companyLogo" class="fit">
    <a href="/" class="block h-full brightness-0 invert">
      <Picture
        h={50}
        alt="logo"
        src="/images/logo/logo-horizontal.png"
        layout="fullWidth"
        brightness={0}
      />
    </a>
  </div>
</Navigation>

<script></script>
<style></style>
