---
import Header from "../components/Header.astro";
import Footer2 from "../components/Footer2.astro";
import { ImageSupportDetection } from "astro-imagetools/components";
const { currentPage, lang } = Astro.props;
---

<html lang="en" class="bg-esl-c-1 scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ImageSupportDetection />
    <title>Astro</title>
  </head>
  <body class="">
    <Header currentPage={currentPage} lang={lang} />
    <!--main content container-->
    <div class="w-full mt-[58px] sm:mt-[78px] lg:mt-0"></div>
    <slot />
    <Footer2 />
  </body>
</html>
