---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import SeoLayout, { SeoProps } from "@layouts/SeoLayout.astro";

const props = Astro.props as SeoProps;
---

<SeoLayout {...props}>
  <header data-body-header class="sticky top-0 z-[5] lg:relative">
    <Header />
    <slot name="header" />
  </header>
  <main>
    <slot />
  </main>
  <footer>
    <Footer />
    <slot name="footer" />
  </footer>
</SeoLayout>
