---
import Footer from "@components/footer/Footer.astro";
import Header from "@components/header/Header.astro";
import SeoLayout, { type SeoProps } from "@layouts/SeoLayout.astro";

const props = Astro.props as SeoProps;
---

<SeoLayout {...props}>
  <Header />

  <main class="flex-1">
    <slot />
  </main>

  <Footer />
</SeoLayout>
