---
import Footer from "@components/Footer.astro";
import Header from "@components/header/Header.astro";
import SeoLayout, { SeoProps } from "@layouts/SeoLayout.astro";

const props = Astro.props as SeoProps;
---

<SeoLayout {...props}>
  <Header />

  <main>
    <slot />
  </main>
  <footer>
    <Footer />
    <slot name="footer" />
  </footer>
</SeoLayout>
