---
import { SEO } from "astro-seo";
import siteInfoJson from "@data/site-info.json";
import { ImageSupportDetection } from "astro-imagetools/components";

type Props = {
  pageTitle?: string;
  pageDescription?: string;
  pageAuthor?: string;
  pageKeywords?: string;
  ogTitle?: string;
  ogType?: string;
  ogImage?: string;
  ogDescription?: string;
  twitterCardType?: string;
  twitterImage?: string;
  twitterDescription?: string;
  twitterTitle?: string;
};
const props = Astro.props as Props;

// Fallbacks
const pageTitle = props.pageTitle ?? siteInfoJson.pageTitle;
const pageDescription = props.pageDescription ?? siteInfoJson.pageDescription;
const pageAuthor = props.pageAuthor ?? siteInfoJson.pageAuthor;
const pageKeywords = props.pageKeywords ?? siteInfoJson.pageKeywords;
const ogTitle = props.ogTitle ?? siteInfoJson.ogTitle ?? pageTitle;
const ogType = props.ogType ?? siteInfoJson.ogType;
const ogImage = props.ogImage ?? siteInfoJson.ogImage;
const ogDescription =
  props.ogDescription ?? siteInfoJson.ogDescription ?? pageDescription;
const twitterImage = props.twitterImage ?? siteInfoJson.twitterImage;
const twitterDescription =
  props.twitterDescription ??
  siteInfoJson.twitterDescription ??
  pageDescription;
const twitterTitle =
  props.twitterTitle ?? siteInfoJson.twitterTitle ?? pageTitle;
---

<html lang="en" class="bg-esl-c-1 scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={pageTitle}
      description={pageDescription}
      openGraph={{
        basic: {
          title: ogTitle,
          type: ogType,
          image: ogImage,
        },
        optional: {
          siteName: ogTitle,
          description: ogDescription,
        },
      }}
      twitter={{
        image: twitterImage,
        description: twitterDescription,
        title: twitterTitle,
      }}
      extend={{
        meta: [
          { name: "author", content: pageAuthor },
          { name: "keywords", content: pageKeywords },
        ],
      }}
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icons/favicon-16x16.png"
    />

    <ImageSupportDetection />
  </head>
  <body>
    <slot />
  </body>
</html>
