---
import { SEO } from "astro-seo";
import siteInfoJson from "@data/site-info.json";
import { ImageSupportDetection } from "astro-imagetools/components";

export type SeoProps = {
  pageTitle?: string;
  pageDescription?: string;
  pageAuthor?: string;
  pageKeywords?: string;
  ogTitle?: string;
  ogType?: string;
  ogImage?: string;
  ogDescription?: string;
  twitterCardType?: string;
  twitterImage?: string;
  twitterDescription?: string;
  twitterTitle?: string;
};

const {
  pageTitle = siteInfoJson.pageTitle,
  pageDescription = siteInfoJson.pageDescription,
  pageAuthor = siteInfoJson.pageAuthor,
  pageKeywords = siteInfoJson.pageKeywords,
  ogTitle = siteInfoJson.ogTitle ?? pageTitle,
  ogType = siteInfoJson.ogType,
  ogImage = siteInfoJson.ogImage,
  ogDescription = siteInfoJson.ogDescription ?? pageDescription,
  twitterImage = siteInfoJson.twitterImage,
  twitterDescription = siteInfoJson.twitterDescription ?? ogDescription,
  twitterTitle = siteInfoJson.twitterTitle ?? ogTitle,
} = Astro.props as SeoProps;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={pageTitle}
      description={pageDescription}
      openGraph={{
        basic: {
          title: ogTitle,
          type: ogType,
          image: ogImage,
        },
        optional: {
          siteName: ogTitle,
          description: ogDescription,
        },
      }}
      twitter={{
        image: twitterImage,
        description: twitterDescription,
        title: twitterTitle,
      }}
      extend={{
        meta: [
          { name: "author", content: pageAuthor },
          { name: "keywords", content: pageKeywords },
        ],
      }}
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icons/favicon-16x16.png"
    />

    <ImageSupportDetection />
  </head>

  <body class="bg-p bg-opacity-5 min-h-screen flex flex-col">
    <slot />
  </body>
</html>
